@import "@fontsource/ia-writer-quattro";
@import "@fontsource/jetbrains-mono";
@import "@fontsource/fira-code";
@import "@fontsource/ibm-plex-mono";

@yummacss;

:root {
	color-scheme: light;
}

body {
	margin: 0;
	font-family: "iA Writer Quattro", sans-serif;
}
