@import "@fontsource/ia-writer-quattro";
@import "@fontsource/jetbrains-mono";
@import "@fontsource/fira-code";
@import "@fontsource/ibm-plex-mono";

@yummacss;

:root {
	color-scheme: light;
}

body {
	font-family: "iA Writer Quattro", sans-serif;
}

.toast-root {
	transition:
		opacity 150ms ease,
		transform 150ms ease;
}

.toast-root[data-starting-style],
.toast-root[data-ending-style] {
	opacity: 0;
	transform: translateY(-4px);
}
